{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <div id="flashes" class="container my-3">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show shadow-sm" role="alert">
                    {{ message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
